* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



:root {
	--nav-height: 60px;
}

navi{
	display: flex;
	padding: 0 50px;
	align-items: center;
	width: 100%;
	height:var(--nav-height);
	background: var(--maincolor);
	color: var(--white);
}
.logo h1 a{
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	color :#fff;
}

.navi-links {
	display: flex;
	height: var(--nav-height);
	align-items: center;
	margin :0;
	margin-left: auto;
	z-index:100;
}
.navi-links li {
	list-style: none;
	margin: 0 5px;
	height: var(--nav-height);
	line-height: var(--nav-height);
	text-align: center;
}
.navi-links li a {
	text-decoration: none;
	color: var(--white);
	position: relative;
	padding :6px 10px;
	border-radius:5px;
	transition :0.3s;
}

.navi-links li a:hover{
	color: var(--maincolor);
	background: var(--white);
	font-weight: 800;

}


.welcomeSpace{
	max-width: 960px;
	margin :10px auto;
}


/* menu */
.menu {
	cursor: pointer;
	background: var(--maincolor);
	border: none;
	outline: none;
	display: none;
}
.menu .bar {
	width: 20px;
	height: 2px;
	background: #000;
	border-radius: 5px;
	opacity: 1;
	visibility: visible;
	transition: 0.5s ease;
	transform-origin: left;
}
.menu .bar1 {
	margin-bottom: 5px;
}
.menu .bar3 {
	margin-top: 5px;
}
.menu.toggle .bar1 {
	transform-origin: left;
	transform: rotate(45deg);
}
.menu.toggle .bar2 {
	opacity: 0;
	visibility: hidden;
}
.menu.toggle .bar3 {
	transform-origin: left;
	transform: rotate(-45deg);
}

/* responsive */

@media screen and (max-width: 1000px) {
	.navi-links {
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 100%;
		width: 300px;
		height: 100%;
		background: var(--maincolor);
		margin-top: var(--nav-height);
		transition: 0.5s ease-out;
	}
	.navi-links li {
		height: var(--nav-height);
		line-height: var(--nav-height);
		text-align: center;
		width: 100%;
		display: block;
	}
	.menu {
		display: block;
		margin-left: auto;
	}

	.menu.toggle + .navi-links {
		transform: translateX(-100%);
	}
}


label {
	margin-bottom: 0rem;
}

.LeftBOX{
  display       : flex ;
  flex-flow     : wrap ;
}

.CenterBOX{
  display       : flex;
  flex-flow     : wrap;
  justify-content: space-around;
}
.BOXin{
  float         : left ;
}



.button{
	padding :5px 10px;
	border : solid 1px var(--green);
	border-radius :6px;
	background : #fff;
	color :var(--green);
	font-weight: 500;
	transition:0.2s;
}
.button:hover{
	background :var(--green);
	color : #fff;
}
.button.cancel{
	border : solid 1px var(--orange);
	color :var(--orange);
}
.button.cancel:hover{
	background :var(--orange);
	color : #fff;
}
.button.delete{
	border : solid 1px var(--red);
	color :var(--red);
}
.button.delete:hover{
	background :var(--red);
	color : #fff;
}


/* comment関連 */
.support{
	color :var(--secondary);
	padding :0 2px;
	font-size :0.9em;
	display:inline-block;
}
.textRight{
	text-align: right;
	float: right;
}
.fullWidth{
	width :100%;
}











/* form関連 */
.formInput{
	display: block;
	width: 100%;
	height: calc(1.6em + 0.75rem + 2px);
	padding: 5px 10px;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.formInput:focus {
	color: #495057;
	background-color: #fff;
	border-color: #a1cbef;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgb(52 144 220 / 25%);
}
.formInput::placeholder {
	color: #ddd;
}




.inputUnits{
	width : 200px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}
.inputUnit{
	width :180px;
}
.inputDatatimeLocal{
	width :220px;
}
.inputData{
	width :150px;
	margin-right :10px;
	float: left;
}

.inputBirthday{
	min-width :300px;
	max-width :300px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}
.inputYear{
	width :100px;
}
.inputMonth, .inputDay{
	width :70px;
}

.inputYearMonths{
	margin-bottom :10px;
	padding :0 15px;
	width : 340px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}
.inputYearMonth{
	width :170px;
}
.inputZips{
	margin-bottom :5px;
	width : 180px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}
.inputZip{
	width :80px;
}
.inputAddrs{
	margin-bottom :5px;
	width : 250px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}
.inputAddr{
	width : 120px;
}
.inputStrt{
	width : 100%;
}
.inputDate{
	margin-bottom :5px;
	width : 150px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}
.inputPrice{
	margin-bottom :5px;
	width : 100px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}
.inputDateTime{
	margin-bottom :5px;
	width : 300px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}

.inputOpenDateTime{
	margin-bottom :5px;
	width : 350px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}

.inputRowErea {
	min-width  : 70% ;
	width     :100%;
	margin     :  0 0 15px ;
	padding-bottom:5px;
	border-bottom :solid 1px var(--green);
	display    : flex ;
	flex-flow  : wrap;
	align-items: center;
}
.inputRowEreaTitle {
	width           : 150px ;
	padding         : 3px 15px ;
	text-align      : center ;
	font-size       : 17px ;
	font-weight     : bold;
	background      : #fff ;
	color           : var(--green);
	justify-content : center;
	display         : flex;
	align-items     : center;
}
.inputRowEreaValue{
	width : calc( 100% -  150px ) ;
}

textarea.formInput{
	height :150px;
	padding :5px;
}

textarea.mailformInput{
	height :500px;
	padding :5px;
	line-height:15px;
	font-size: 12px;
}

select{
	padding :10px 15px;
	width :100%;
}
select.parent,
select.children
{
	margin :10px 20px;
	width :calc(100% - 40px);
}
input:disabled {
	background: #ccc;
}










/* 管理画面関連 */
.adminErea{
	width :100%;
	padding : 20px 10px;
	margin :10px 20px 40px;
	background :#fff;
	border:solid 1px #ccc;
	border-radius :10px;
	flex-flow: wrap;
}
.admin_h5_wrap {
	width:100%;
	position: relative;
	margin-bottom:15px;
}
.admin_h5_wrap:before {
	content         : '' ;
	background-color: var(--maincolor);
	display         : block ;
	position        : absolute;
	left            : 0 ;
	width           : 100%;
	height          : 1px;
	top             : 0 ;
	bottom          : 0 ;
	margin          : auto;
}
.admin_h5 {
	margin     : 0;       /* デフォルトCSS打ち消し */
	position   : relative ;  /* 位置調整 */
	font-weight: normal;  /* 文字の太さ調整 */
	display    : inline-block; /* インラインブロックにする */
	background-color: #fff; /* 背景色指定 */
	margin-left: 20px;   /* 周りの余白指定 */
	padding    : 0 10px;    /* 余白指定 */
}

.adminBtnErea{
	width :100%;
	margin :0px 0px 40px;
}
.btn-admin {
	width    :200px;
	margin : 0px 5px 20px;
	padding: 0.5rem 0.75rem;
	background :var(--maincolor);
	color: #fff;
	border-bottom : 5px solid #3b4c7e;
border-radius : 10px ;
	transition: .3s;
}
.btn-admin:hover {
	color: #fff;
	margin-top: 3px;
	border-bottom: 2px solid #3b4c7e;
	font-weight:700;
}















/* 売り上げ確認 */
.sales_contents{
	margin-bottom :50px;
}
.sales_contents > .gross_amount_row{
	width :300px;
	margin:0 0 20px auto;
	font-size:1.3em;
	font-weight: 700;
	text-align :right;
	border-bottom :solid 1px var(--info);
}
.sales_contents > .gross_amount_row > .gross_amount{
	width :130px;
	float: right;
}
.sales_contents > .breakdown_title,
.sales_contents > .breakdown_contents{
	display: flex;
	flex-flow: wrap;
	border-bottom :solid 1px var(--info);
}
.breakdown_title{
	background :var(--info);
	margin-bottom :10px;
	color:#fff;
	font-weight: 700;
}

.breakdown_names,
.breakdown_price,
.breakdown_date{
	padding :5px 10px 3px;
}

.breakdown_names{
	width: 120px;
}

.breakdown_price{
	width: 120px;
}

.breakdown_date{
	width: 120px;
}











/* 顧客関係 */
table.customerSearchTable{
	width:100%;
	border-collapse: separate;
	border-spacing: 0 10px;
}
.display-container{
	max-width :1200px;
	margin : 0 auto;
}
.customerSearchTable th{
	height:40px;
	padding : 3px 10px ;
	text-align :center;
	color :#fff;
	background: var(--info);
}
.customerSearchTable td{
	padding : 3px 10px ;
}

.customerListTable{
	width :100%;
	max-width: 1000px;
	margin : 0 0 20px;
}
.customerListTable th{
	background: var(--info);
	font-size: 1.2em;
	color :#fff;
	padding :20px 10px ;
}
.customerListTable td{
	padding :20px 10px 10px ;
	border-bottom :solid 1px var(--primary);
}
.customerListTable td:nth-child(1) {
	color:  var(--secondary);
	font-size: 0.8em;
}
.customerListTable tr:nth-child(odd) td {
	background: #ecf5fb;
}
.nameRead{
	font-size: 0.8em;
}


.customerMailContents{
	background: #fff;
}
.customerMailTitles{
	position: relative;
	width     : 100%;
	margin    : 5px 0 0 ;
	background: #e6eff8;
	display   : flex;
	flex-flow : wrap;
	justify-content: space-between;
	border :solid 1px #e6eff8;
	border :none;
	cursor: pointer;
}
.customerMailTitles:hover{
	background :#d9ebfc;
	transition:0.2s;
}

.customerMailTitles::after{
	content:"";
	position: absolute;
	top: calc(50% - 8px);
	right: 30px;
	display: block;
	width         :20px;
	height        :30px;
	border-top    : 15px solid var(--info);
	border-right  : 10px solid transparent;
	border-bottom : 15px solid transparent;
	border-left   : 10px solid transparent;
}
.customerMailTitlesMain{
	width     : 100%;
	margin    : 5px 0 0 ;
	background: #e6eff8;
	display   : flex;
	flex-flow : wrap;
	justify-content: space-between;
	border :solid 1px #e6eff8;
	border :none;
	background: var(--info);
	border :solid 1px var(--info);
	color: #fff;

}
.customerMailTitle{
	padding : 5px 10px;
}
.customerMailTitle.send{
	width:120px;
	border-right : solid 1px #fff;
}
.customerMailTitle.time{
	width:200px;
	border-right : solid 1px #fff;
}
.customerMailTitle.title{
	width: calc(100% - 320px );
}

.customerMailText{
	margin  : 0 0 20px;
	padding : 10px 5px 10px 20px;
	border :solid 1px #e6eff8;
	border-top:none;
	font-size:12px;
	display: none;
}



.customerDetail{
	padding :0 10px;
	margin :10px 0 50px;
}
.customerBasicInformation{
	width : var(--customer-sidebar);
	min-height: 500px;
	background: #f2f7fc;
	border :solid 1px var(--info);
	border-radius: 5px;
}
.tabsContentsArea{
	width:calc(100% - (var(--customer-sidebar) + 10px));
	max-width :1000px;
	margin :0 0 0 10px ;
	position: relative;
}
.customerNam{
	margin :10px 0 0;
	padding-left :5px;
}
.customerNmae{
	margin :5px 0 0;
	padding-left :5px;
	font-size:1.2EM;
	font-weight: 700;
}
.customerRead{
	padding-left :10px;
	font-size:11px;
}
.customerIMG{
	width :140px;
	height:140px;
	margin :10px auto;
	background :#eee;
}






.tabArea{
	display: flex;
	flex-flow     : wrap ;
	width :100%;
	position: relative;
	z-index:10;
}
.tab {
	background    :  var(--maincolor);
	color         : #fff   ;
	border :solid 1px  var(--maincolor);
	border-radius: 10px 10px 0 0;
	text-align: center;
	padding :8px 20px;
	margin :0 0 0 10px;
	cursor: pointer;
	transition:.2s;
}
.tab:hover{
	background-color:var(--info);
	font-weight:700;
}
.tab.active {
	background-color: #f8fafc;
	color:  var(--maincolor);
	border :solid 1px  var(--maincolor);
	border-bottom:none;
	font-weight:700;
}

.editTab{
	background    :  var(--green);
	color         : #fff   ;
	border :solid 1px  var(--green);
	border-radius: 10px 10px 0 0;
	text-align: center;
	padding :8px 20px;
	margin :0 0 0 10px;
	cursor: pointer;
	transition:.2s;

}
.editTab.active {
	background-color: #f8fafc;
	color:  var(--green);
	border :solid 1px  var(--green);
	border-bottom:none;
	font-weight:700;
}




.tabsContents{
	width :100%;
	min-height: 500px;
	padding :10px;
	border :solid 1px  var(--maincolor);
	border-radius:4px;
	position: relative;
	top :-1px;
	z-index:5;
}
.editTabsContents{
	width :100%;
	min-height: 500px;
	padding :10px 10px 30px;
	border :solid 1px  var(--green);
	border-radius:4px;
	position: relative;
	top :-1px;
	z-index:5;
}
.tabscontent {
	display: none;
}
.tabscontent.show {
	display: block;
}

.cusInfoRow{
	display       : flex ;
	flex-flow     : wrap ;
	margin :8px 0;
}

.cusInfoTitle{
	float         : left ;
	width :140px;
	padding :5px;
	font-size:13px;
	font-weight: 800;
	color:#fff;
	background:var(--info);
	justify-content: center;
	display: flex;
	align-items: center;
}
.cusInfoContent{
    align-items: center;
	float         : left ;
	width :calc(100% - 140px);
	padding :5px;
	border-bottom:solid 1px var(--info);
	font-size: .9em;
}
.cusInfoTitleMail{
	float         : left ;
	writing-mode: vertical-rl;
	width :50px;
	padding :5px;
	font-size:13px;
	font-weight: 800;
	color:#fff;
	background:var(--info);
	justify-content: center;
	display: flex;
	align-items: center;
}
.cusInfoContentMail{
	float         : left ;
	width :calc(100% - 50px);
	padding :5px;
	border-bottom:solid 1px var(--info);
	font-size: .9em;
}
.editCusInfoTitle{
	float         : left ;
	width :140px;
	padding :5px;
	font-size:13px;
	font-weight: 800;
	color:#fff;
	background:var(--green);
	justify-content: center;
	display: flex;
	align-items: center;
}
.editCusInfoContent{
	float         : left ;
	width :calc(100% - 140px);
	padding :5px;
	border-bottom:solid 1px var(--green);
	font-size: .9em;
}

.courseHistoryTable{
	width :100%;
	margin :10px auto;
}
.courseHistoryTable th{
	background: var(--info);
	font-size: 1.0em;
	color :#fff;
	padding :8px 10px ;
}
.courseHistoryTable td{
	padding :10px ;
	font-size:.8em;
	border-bottom :solid 1px var(--primary);
}
.courseHistoryTable tr:nth-child(odd) td {
	background: #ecf5fb;
}
.courseMappingShowContentRow{
	display: flex;
    align-items: center;
	float         : left ;
	width   :calc(100% - 40px);
	padding :5px;
	border-bottom:solid 1px var(--info);
}
.courseAppTitle{
	border-left :solid 5px var(--maincolor);
	color: var(--maincolor);
	background: #f1f8ff;
	padding : 10px 20px ;
	margin :10px 0;

}
.courseAppContent{
	padding :5px 5px 5px 20px ;
	margin : 5px 0 30px;
}

.PurchaseCourseName{
	background: #f1f8ff;
	border :solid 1px  var(--maincolor);
	border-radius :8px;
	box-shadow :0px 0px 30px rgba(222, 222, 223, 0.445);
	padding :10px 10px 10px 35px ;
}
.PurchaseCourseName li, .PurchaseCourseName li {
	padding: 2px 0;
}


/* コース概要 */
.courseDetailRow{
	display       : flex ;
	flex-flow     : wrap ;
    justify-content: space-around;
	margin :15px 0;
	max-width :700px;
	border-bottom:solid 1px var(--info);
}
.courseDetailTitle{
	float   : left ;
	width :160px;
	padding :10px 0 ;
	font-size:15px;
	font-weight: 800;
	color:#fff;
	background:var(--info);
	justify-content: center;
	display: flex;
	align-items: center;
    text-align: center;
    font-size: 1.2em;
}
.courseDetailContent{
	float         : left ;
	width :calc(100% - 160px);
	padding :10px  ;
	font-size: .9em;
	align-items: center;
}


/* スケジュール */
.coursesErea{
	width :100%;
	padding : 20px;
	margin :10px 20px 40px;
	background :#fff;
	border:solid 1px #ccc;
	border-radius :10px;
}

.scheduleListTable{
	width :100%;
	max-width: 1000px;
	margin : 0 0 20px;
}
.scheduleListTable th{
	background: var(--info);
	font-size: 1.1em;
	color :#fff;
	padding : 10px ;
}
.scheduleListTable td{
	padding :10px 10px 5px ;
	border-bottom :solid 1px var(--primary);
}
.scheduleListTable tr:nth-child(odd) td {
	background: #ecf5fb;
}


.calendarTable{
	width :100%;
	max-width: 1200px;
	margin : 0 0 20px;
}
.calendarTable th{
	background: var(--info);
	font-size: 1.1em;
	color :#fff;
	padding : 10px ;
	border-right : solid 1px #fff;
}
.calendarTable th:nth-of-type(1) {
	border-left : solid 1px var(--info);
}
.calendarTable th:nth-of-type(3) {
	border-right : solid 1px var(--info);
}
.calendarTable tr.SatRows{
	background:#eaf0ff;
}
.calendarTable tr.SunRows{
	background:#fde2e2;
}
.calendarTable td{
	padding :10px 10px 5px ;
	border-bottom :solid 1px var(--primary);
}
.calendarTable td{
	border-right : solid 1px var(--info);
}
.calendarTable td:nth-of-type(1) {
	border-left : solid 1px var(--info);
}



/* setting */
.userSettingRow{
	display       : flex ;
	flex-flow     : wrap ;
	margin :8px 0;
}
.userSettingTitle{
	float   : left ;
	width :140px;
	padding :5px;
	font-size:13px;
	font-weight: 800;
	color:#fff;
	background:var(--info);
	justify-content: center;
	display: flex;
	align-items: center;

}
.userSettingContent{
	float         : left ;
	width :calc(100% - 140px);
	padding :5px;
	border-bottom:solid 1px var(--info);
	font-size: .9em;
}

.ClaimDetailRowMain{
	position: relative;
	width: 100%;
	margin: 5px 0 0;
	background: var(--info);
	color :#fff;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}
.ClaimDetailRow{
	border-bottom :solid 1px var(--info);
	position: relative;
	width: 100%;
	margin: 5px 0 0;
	background: #e6eff8;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}


.ClaimDetail_itemName,
.ClaimDetail_unitPrice,
.ClaimDetail_quantity,
.ClaimDetail_price,
.ClaimDetail_rank,
.ClaimDetail_delete{
	padding :5px;
	text-align :center;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}
.ClaimDetail_itemName > input ,
.ClaimDetail_quantity > input ,
.ClaimDetail_rank > input {
	width :100%;
}
.ClaimDetail_unitPrice > input,
.ClaimDetail_price > input{
	width :calc(100% - 15px);
}
.ClaimDetail_quantity > input[type="number"]{
	width :calc(100% - 60px )
}
.ClaimDetail_quantity > input[type="text"]{
	width :60px;
}
.ClaimDetail_itemName{
	width :300px;
	text-align :center;
}
.ClaimDetail_unitPrice{
	width :100px;
	text-align :center;
}
.ClaimDetail_quantity{
	width :120px;
	text-align :center;
}
.ClaimDetail_price{
	width :100px;
	text-align :center;
}
.ClaimDetail_rank{
	width :60px;
	text-align :center;
}
.ClaimDetail_delete{
	width :50px;
	text-align :center;
}

.confilmClaimDetailRow{
	border-bottom :solid 1px var(--info);
	width: 100%;
	margin: 3px 0 ;
	padding :3px 0 0;
	font-size: 0.85em;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}
.confilmClaimDetailRow>.item_name{
	width :220px;
}
.confilmClaimDetailRow>.unit_price{
	width :80px;
	text-align: right;
}
.confilmClaimDetailRow>.quantity{
	width :80px;
	text-align: center;
}
.confilmClaimDetailRow>.price{
	width :80px;
	text-align: right;
}
.cancelPaymentFee{
	color :#f7a7a7;
	text-decoration: line-through;
}