* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



:root {
	--nav-height: 60px;
}



h5.edit{
	background : var(--green);
}
navi{
	display: flex;
	padding: 0 50px;
	align-items: center;
	width: 100%;
	height:var(--nav-height);
	background: var(--mainColor);
	color: var(--white);
}
.logo h1 a{
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	color :#fff;
}

.navi-links {
	display: flex;
	height: var(--nav-height);
	align-items: center;
	margin :0;
	margin-left: auto;
	z-index:100;
}
.navi-links li {
	list-style: none;
	margin: 0 5px;
	/* height: var(--nav-height); */
	/* line-height: var(--nav-height); */
	text-align: center;
}
.navi-links li a {
	text-decoration: none;
	color: var(--white);
	position: relative;
	padding :6px 10px;
	border-radius:5px;
	transition :0.3s;
}

.navi-links li a:hover{
	color: var(--mainColor);
	background: var(--white);
	font-weight: 800;

}


.welcomeSpace{
	max-width: 960px;
	margin :10px auto;
}


/* menu */
.menu {
	cursor: pointer;
	background: var(--mainColor);
	border: none;
	outline: none;
	display: none;
}
.menu .bar {
	width: 20px;
	height: 2px;
	background: #000;
	border-radius: 5px;
	opacity: 1;
	visibility: visible;
	transition: 0.5s ease;
	transform-origin: left;
}
.menu .bar1 {
	margin-bottom: 5px;
}
.menu .bar3 {
	margin-top: 5px;
}
.menu.toggle .bar1 {
	transform-origin: left;
	transform: rotate(45deg);
}
.menu.toggle .bar2 {
	opacity: 0;
	visibility: hidden;
}
.menu.toggle .bar3 {
	transform-origin: left;
	transform: rotate(-45deg);
}

/* responsive */
@media screen and (max-width: 1000px) {
	.navi-links {
		flex-direction: column;
		position: fixed;
		top: 0;
		left: 100%;
		width: 300px;
		height: 100%;
		background: var(--mainColor);
		margin-top: var(--nav-height);
		transition: 0.2s ease-out;
	}
	.navi-links li {
		height: var(--nav-height);
		line-height: var(--nav-height);
		text-align: center;
		width: 100%;
		display: block;
	}
	.menu {
		display: block;
		margin-left: auto;
	}

	.menu.toggle + .navi-links {
		transform: translateX(-100%);
	}
}


label {
	margin-bottom: 0rem;
}

.LeftBOX{
	display       : flex ;
	flex-flow     : wrap ;
}
.CenterBOX{
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-around;
}
.BOXin{
	float         : left ;
}



.button{
	padding :5px 10px;
	border : solid 1px var(--mainColor);
	border-radius :6px;
	background : #fff;
	color :var(--mainColor);
	font-weight: 500;
	transition:0.2s;
    display: inline-block;
}
.button:hover{
	background :var(--mainColor);
	color : #fff;
	text-decoration: none;
}
.button.edit{
	border : solid 1px var(--green);
	color :var(--green);
}
.button.edit:hover{
	background :var(--green);
	color : #fff;
}
.button.cancel{
	border : solid 1px var(--orange);
	color :var(--orange);
}
.button.cancel:hover{
	background :var(--orange);
	color : #fff;
}
.button.delete{
	border : solid 1px var(--red);
	color :var(--red);
}
.button.delete:hover{
	background :var(--red);
	color : #fff;
}


/* comment関連 */
.support{
	color :var(--secondary);
	padding :0 2px;
	font-size :0.9em;
	display:inline-block;
}
.modalText{
	color :var(--mainColor);
	cursor: pointer;
}
.modalText:hover{
	color :var(--mainColor);
}









/* form関連 */
.formInput{
	display: block;
	width: 100%;
	height: calc(1.6em + 0.75rem + 2px);
	padding: 5px 10px;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.formInput:focus {
	color: #495057;
	background-color: #fff;
	border-color: #a1cbef;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgb(52 144 220 / 25%);
}
.formInput::placeholder {
	color: #ddd;
}
.formInput_2 {
	width: 48%;
	margin-right: 2%;
}
.inputSex{
    height: 100%;
    align-items: center;
    display: flex;
    flex-flow: wrap;
    justify-content: start;
}
.inputSex label {
    margin: 0 22px 0 0;
    display: inline-block;
}
.inputUnits{
	width : 200px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}
.inputUnit{
	width :180px;
}
.inputDatatimeLocal{
	width :220px;
}
.inputData{
	width :150px;
	margin-right :10px;
	float: left;
}
.inputBirthday{
	min-width :300px;
	max-width :300px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}
.inputYear{
	width :100px;
}
.inputMonth, .inputDay{
	width :70px;
}
.inputYearMonths{
	margin-bottom :10px;
	padding :0 15px;
	width : 340px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}
.inputYearMonth{
	width :170px;
}
.inputZips{
	margin-bottom :5px;
	width : 180px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}
.inputZip{
	width :80px;
}
.inputAddressArea{
	width : 100%;
	display : flex;
	flex-flow : wrap;
}
.inputAddresses{
	margin-bottom :5px;
	width : 250px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}
.inputAddress{
	width : 120px;
}
.inputStreet{
	width : 100%;
}
.inputShop{
	width : 200px;
}
.inputDate{
	margin-bottom :5px;
	width : 150px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}
.inputPrice{
	margin-bottom :5px;
	width : 100px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}
.inputDateTime{
	margin-bottom :5px;
	width : 300px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}
.inputOpenDateTime{
	margin-bottom :5px;
	width : 350px;
	display       : flex;
	flex-flow     : wrap;
	justify-content: space-between;
	align-items: center;
}
.editContent_02_date{
	width: 130px;
}
.editContent_02_time{
	width: calc(100% - 130px);
}
.inputRowErea {
	min-width  : 70% ;
	width     :100%;
	margin     :  0 0 15px ;
	padding-bottom:5px;
	border-bottom :solid 1px var(--green);
	display    : flex ;
	flex-flow  : wrap;
	align-items: center;
}
.inputRowEreaTitle {
	width           : 150px ;
	padding         : 3px 15px ;
	text-align      : center ;
	font-size       : 17px ;
	font-weight     : bold;
	background      : #fff ;
	color           : var(--green);
	justify-content : center;
	display         : flex;
	align-items     : center;
}
.inputRowEreaValue{
	width : calc( 100% -  150px ) ;
}
textarea.formInput{
	height :150px;
	padding :5px;
}
textarea.mailformInput{
	height :500px;
	padding :5px;
	line-height:15px;
	font-size: 12px;
}
select{
	padding :10px 15px;
	width :100%;
}
select.parent,
select.children
{
	margin :10px 20px;
	width :calc(100% - 40px);
}
input:disabled {
	background: #ccc;
}





/* 日報 */
.report_index_area{
	background : var(--mainColor3);
	width: 100%;
	padding: 30px 15px;
    display: flex;
}
.report_index_report_area{
	width: 270px;
	margin-right: 15px;
	margin-bottom: 15px;
	padding: 25px 10px;
    background-color: #fff;
    border: 1px solid var(--mainColor);
    border-radius: 1rem;
}
.report_index_report_wrapper{
    padding-left: 15px;
    height: 28px;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background: var(--mainColor);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.report_index_contents_area{
	width: calc(100% - 270px);
}
.report_index_register_customer_area{
    position: relative;
	margin: 0 0 15px;
	padding:0 30px 30PX;
    background-color: #fff;
    border: 1px solid var(--mainColor);
    border-radius: 1rem;
}
.selectUsersInput {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
.selectUsersLabel {
    display: inline-block;
	/* background: var(--mainColor2); */
    padding: 0.5rem 1rem;
	margin: 10px 5px 10px 0px ;
	border : solid 1px var(--mainColor);
    border-radius: 5px;
    transition: all .2s;
}
.selectUsersInput:checked + .selectUsersLabel {
    background: var(--mainColor);
    color: #fff;
}
.selectUsersInput:focus + .selectUsersLabel {
    outline-color: var(--mainColor);
}





/* 過去日報確認 */
.setDayRecode{
	margin: 15px 0 ;
}
.changeRecodeBtn{
	font-size:0.8em;
	padding: 2px 15px;
	background: var(--mainColor);
	color: #fff;
	border: solid 1px var(--mainColor);
	border-radius: 15px;
	transition: 0.2s;
}
.changeRecodeBtn:hover{
	background: #fff;
	color: var(--mainColor);
}
.selectRadioChoice {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}
.selectRadiosLabel {
    display: inline-block;
	text-align: center;
    padding: 0.5rem 0;
	margin: 0px ;
	width: calc(100% / 3 - 3px );
	border : solid 1px var(--mainColor);
    border-radius: 5px;
    transition: all .2s;
}
.selectRadioChoice:checked + .selectRadiosLabel {
    background: var(--mainColor);
    color: #fff;
}
.selectRadioChoice:focus + .selectRadiosLabel {
    outline-color: var(--mainColor);
}
.selectRadiosLabel.selectRadiosLabel2{
	width: calc(100% / 2 - 3px );
}
#displayArea{
	padding: 20px;
	background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}









/* customer */
.name_read{
	font-size: 0.5em;
}

.customer_show_area{
    position: relative;
	width: 98%;
	margin: 0 auto;
	padding: 10px;
	background: var(--mainColor3);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    display: flex;
}
@media screen and (max-width: 1000px) {
	.customer_show_area{
		width: 100%;
		display: block;
	}
}
.customer_show_customer_area{
	width: 200px;
	min-height: 500px;
	background: #fff;
	margin-right: 10px;
	margin-bottom: 40px;
}
@media screen and (max-width: 1000px) {
	.customer_show_customer_area{
		width: 100%;
		padding: 5px 5px 20px;
		min-height: auto;

	}
}
.customer_show_customer_img{
	width: 180px;
	height: 180px;
	margin: 9px auto;
	background: var(--mainColor3);
}
.customer_show_customer_img > img{
	width: 180px;
	height: 180px;
	object-fit: cover;
}
@media screen and (max-width: 1000px) {
	.customer_show_customer_img{
		width: 150px;
		height: 150px;
		float: left;
	}
	.customer_show_customer_img > img{
		width: 150px;
		height: 150px;
	}
}

.customer_show_customer_member_number,
.customer_show_customer_name,
.customer_show_customer_birthday,
.customer_show_customer_staff,
.customer_show_customer_shop,
.customer_show_customer_sex{
	width: calc(100% - 10px );
	display: inline-block;
	padding: 3px 6px ;
	margin: 5px;
	border-bottom:solid 1px var(--gainsboro);
}
@media screen and (max-width: 1000px) {
	.customer_show_customer_member_number,
	.customer_show_customer_name,
	.customer_show_customer_birthday,
	.customer_show_customer_sex{
		width: calc(100% - 160px );
		display: inline-block;
		padding: 3px 6px ;
		margin: 5px;
		border-bottom:solid 1px var(--gainsboro);
	}
}
.customer_show_customer_name{
	line-height: 100%;
}

.customer_show_contents_area{
	width: calc(100% - 200px);
}
@media screen and (max-width: 1000px) {
	.customer_show_contents_area{
		width: 100%;
		margin: 40px 0 0;
	}
}
.customer_show_basicData_area,
.customer_show_visitHistory_area{
    position: relative;
	margin: 15px 0 40px;
	padding: 28px 10px 10px;
	background: #fff;
}
.customer_show_contents_title{
    position: absolute;
	width: calc(100% - 20px) ;
	top: -15px;
	padding: 5px 10px ;
	color: #fff;
	background: var(--mainColor);
	border-radius: 5px;
}
.customer_show_contents_title_btn{
	font-size:0.8em;
	padding: 2px 15px;
	float: right;
	background: #fff;
	color: var(--mainColor);
	border: solid 1px var(--mainColor);
	border-radius: 15px;
	transition: 0.2s;
}
.customer_show_contents_title_btn:hover{
	background: var(--mainColor);
	color:  #fff;
}


.customerShow_basicDataArea_row{
    display: flex;
	margin-bottom: 3px;
}
.customerShow_basicDataArea_title{
	width: 140px;
	padding: 3px 5px;
    font-weight: bold;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: var(--mainColor2);
	color: var(--mainColor2_string);
	border-bottom: solid 1px var(--mainColor2);
}
.customerShow_basicDataArea_content{
	width: calc(100% - 140px);
	padding: 3px 5px;
	border-bottom: solid 1px var(--mainColor2);
}






.editRow_01{
	margin-bottom: 5px;
	display: flex;
	flex-flow: wrap;
}
.editTitle_01,
.editTitle_01_2{
	width: 160px;
	padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
	background: var(--editColor);
	color: var(--white);
	border-bottom: solid 1px var(--editColor);
	float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editContent_01,
.editContent_01_2{
	padding: 10px;
	width: calc(100% - 160px);
	border-bottom: solid 1px var(--editColor);
}
.customer_img{
	width: 100px;
    height: 130px;
}
.customer_img>img{
    width: 100px;
    height: 130px;
	object-fit: cover;
}
@media screen and (max-width: 1000px) {
	.editTitle_01{
		width: 110px;
		padding: 7px 2px;
		font-size: 1em;
	}
	.editContent_01{
		padding: 7px 2px;
		width: calc(100% - 110px);
	}
	.editTitle_01_2{
		width: 100%;
	}
	.editContent_01_2{
		width: 100%;
		padding: 7px;
		border: solid 1px var(--editColor);
	}
}

.editRow_02{
	margin-bottom: 5px;
	display: flex;
	flex-flow: wrap;
}
.editTitle_02,
.editTitle_02_2{
	width: 160px;
	padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
	background: var(--editColor);
	color: var(--white);
	border-bottom: solid 1px var(--editColor);
	float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editContent_02,
.editContent_02_2{
	padding: 10px;
	width: calc(100% - 160px);
	border-bottom: solid 1px var(--editColor);
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1000px) {
	.editTitle_02{
		width: 90px;
		padding: 10px 5px;
	}
	.editTitle_02_2{
		width: 100%;
	}
	.editContent_02{
		width: calc(100% - 90px);
	}
	.editContent_02_2{
		width: 100%;
		border: solid 1px var(--editColor);
	}
}
.visHisImgs{
	width: 100%;
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
}
.visHisImg{
	float: left;
	padding: 3px;
	text-align: center;
	width: calc(100% / 3 - 5px);
}
.visHisImg:nth-child(n + 2){
	border-left: solid 1px var(--editColor);
}
.visHisImgAngleName{
	width: 100%;
	margin-bottom: 5px;
	border-bottom: solid 3px var(--editColor);
}
.visHisImg > .customer_img{
	margin: 0 auto;
}




/* 設定画面 */
.setting_navigation_area{
	background : var(--mainColor3);
	width: 100%;
}
.setting_navigation_area > .LeftBOX{
	max-width: 800px;
	margin: 0 auto 10px;
}
.setting_navigation{
	height: 50px;
	min-width: 100px;
	line-height: 50px;
	margin: 0 2px 0 0;
	padding: 0 5px;
    justify-content: center;
	background: var(--mainColor2);
	border: solid 1px var(--mainColor);
	color: var(--mainColor2_string);
	transition: 0.2s;
}
.setting_navigation.active{
	background: var(--mainColor3);
	color: var(--mainColor3_string);
}
a > .setting_navigation:hover{
    text-decoration: none;
	background: var(--mainColor3);
	color: var(--mainColor3_string);
}













/* テーブル */
.tableClass_001 {
	width: 100%;
}
.tableClass_001 tr{
	border-bottom: solid 1px var(--mainColor);
}
.tableClass_001 th{
	padding: 10px ;
	font-size: 1.2em;
	background: var(--info);
	color: #fff;
}
.tableClass_001 td{
	padding: 10px ;
}
.tableClass_001 tr:nth-child(odd) td {
	background: #ecf5fb;
}
.tableClass_001 th.id,
.tableClass_001 td.id{
	font-size: 0.8em;
}
@media screen and (max-width: 1000px) {
	.tableClass_001 th,
	.tableClass_001 td.id{
		display: none;
	}
	.tableClass_001 td{
		display: inline-flex;
		width: 100%;
		padding: 0 10px;
	}
	.tableClass_001 td:nth-child(2) {
		padding: 10px 10px 0;
	}
	.tableClass_001 td:nth-child(2):before {
		content: "【 顧客番号 】";
	}
	.tableClass_001 td:nth-child(3):before {
		content: "【 顧客名 】";
	}
	.tableClass_001 td:nth-child(4):before {
		content: "【 所属店舗 】";
	}
	.tableClass_001 td:nth-child(5):before {
		content: "【 担当者 】";
	}
	.tableClass_001 td:nth-child(8) {
		justify-content: center;
		padding: 0 0 10px;
	}
}

/* 顧客検索・顧客詳細画面 */
.tableClass_002 {
	width: 100%;
}
.tableClass_002 th{
	width: 150px;
	text-align: center;
	padding: 10px 5px;
	font-size: 1em;
	background: var(--mainColor2);
	color: var(--mainColor2_string);
	border-bottom: solid 1px #fff;
}
.tableClass_002 td{
	width: calc(100% - 200px);
	padding: 5px 10px ;
	border-bottom: solid 1px var(--mainColor2);
}
@media screen and (max-width: 1000px) {
	.tableClass_002{
		display: inline-flex;
		border-collapse: separate;
		border-spacing: 0 10px;
	}
	.tableClass_002 th{
		display: flex;
		width: calc(100% );
		border: solid 1px var(--mainColor2);
	}
	.tableClass_002 td{
		display: flex;
		width: calc(100% );
		padding: 5px;
		border: solid 1px var(--mainColor2);
	}
}
/* 日報の来店顧客一覧に使用 */
.tableClass_003 {
	width: 100%;
}
.tableClass_003 th{
	max-width: 100px;
	padding: 5px 10px ;
	font-size: 1.2em;
	background: var(--mainColor2);
	color: var(--mainColor2_string);
	border-bottom: solid 1px #fff;
}
.tableClass_003 td{
	padding: 5px 10px ;
	border-bottom: solid 1px var(--mainColor2);
}

/* 顧客登録に使用 */
.tableClass_004 {
	width: 100%;
}
.tableClass_004 th{
	width: 150px;
	text-align: center;
	padding: 10px 5px  ;
	font-size: 1em;
	background: var(--green);
	color: var(--mainColor2_string);
	border-bottom: solid 1px #fff;
}
.tableClass_004 td{
	width: calc(100% - 200px);
	padding: 5px 10px ;
	border-bottom: solid 1px var(--green);
}

/* 来店履歴に使用 */
.tableClass_005 {
	width: 100%;
}
.tableClass_005 tr{
	border-bottom: solid 1px var(--mainColor2);
}
.tableClass_005 th{
	padding: 5px ;
	font-size: 1em;
	background: var(--mainColor2);
	color: var(--mainColor2_string);
}
.tableClass_005 td{
	padding: 5px ;
}
.tableClass_005 th.id,
.tableClass_005 td.id{
	font-size: 0.8em;
}
@media screen and (max-width: 1000px) {
	.tableClass_005 th{
		display: none;
		flex-direction: column;
	}
	.tableClass_005 td.id{
		display: none;
	}
	.tableClass_005 td{
		display: inline-flex;
		flex-direction: column;
		width: 100%;
		padding: 3px 0 0;
	}
	.tableClass_005 td:nth-child(2):before {
		content: "【来店日時】";
		display: contents;
	}
	.tableClass_005 td:nth-child(3):before {
		content: "【担当者】";
		display: contents;
	}
	.tableClass_005 td:nth-child(4):before {
		content: "【 予約タイプ 】";
		display: contents;
	}
	.tableClass_005 td:nth-child(5):before {
		content: "【 メニュー 】";
		display: contents;
	}
	.tableClass_005 td:nth-child(6) {
		display: block;
		float: left;
	}
	.tableClass_005 td:nth-child(6),
	.tableClass_005 td:nth-child(7),
	.tableClass_005 td:nth-child(8) {
		position: relative;
		top: 0;
		width: 33%;
		padding-top: 20px;
	}
	.tableClass_005 td:nth-child(6):before {
		position: absolute;
		top: 0;
		content: "【画像】";
	}
	.tableClass_005 td:nth-child(9) {
		flex-direction: column;
	}
	.tableClass_005 td:nth-child(9):before {
		content: "【コメント】";
	}
	.tableClass_005 td:nth-child(10) {
		justify-content: center;
		padding: 10px 0 0;
	}
}

/* スタイリスト一覧に使用 */
.tableClass_006 {
	width: 100%;
	border-spacing: 0px 2px;
    border-collapse: separate;
	background: var(--info);
}
.tableClass_006 tr{
	border-bottom: solid 1px var(--mainColor);
	background: #fff;
}
.tableClass_006 th{
	padding: 10px ;
	font-size: 1.2em;
	background: var(--info);
	color: #fff;
}
.tableClass_006 td{
	padding: 10px ;
}
@media (max-width: 768px) {
	.tableClass_006 th,
	.tableClass_006 td{
		padding: 8px 3px ;
		font-size: 12px;
	}
}

/* スタイリスト詳細に使用 */
.tableClass_007 {
	width: 100%;
	border-spacing: 0px 6px;
    border-collapse: separate;
}
.tableClass_007 th{
	width: 150px;
	text-align: center;
	padding: 10px 5px;
	font-size: 1em;
	background: var(--mainColor2);
	color: var(--mainColor2_string);
	border-bottom: solid 1px var(--mainColor2);
}
.tableClass_007 td{
	width: calc(100% - 200px);
	padding: 5px 10px ;
	border-bottom: solid 1px var(--mainColor2);
}

/* メールアドレス更新用に使用 */
.tableClass_008{
	width: 100%;
	border-spacing: 0px 6px;
    border-collapse: separate;
}
.tableClass_008 td:last-child {
    width: 100%;
	margin-bottom: 10px;
}
.tableClass_008 th,
.tableClass_008 td{
	width: 100%;
	padding:10px;
    display: block;
	border: solid 1px var(--editColor);
}
.tableClass_008 th{
	background: var(--editColor);
	color: #fff;
}

/* 使い方 */
.lectureSection{
	width: 100%;
	padding: 30px 0 ;
    background: var(--mainColor3);
}
.lectureArea{
	width: 800px;
	min-height: 250px;
	padding: 20px 10px ;
	margin: 0 auto;
    background: #fff;
	border: solid 1px #ccc;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}
.lectureContent{
	display: inline;
	padding: 5px;
	margin-bottom: 10px;
}
.lectureLink{
	padding: 10px;
}



/* 日報の集計に使用 */
.tableClass_009{
	width: 100%;
    font-family: -webkit-pictograph;
	margin: 0 0 20px;
	border-spacing: 0px 6px;
    border-collapse: separate;
}
.tableClass_009 th{
	position: relative;
	width: 130px;
	height: 26px;
	font-size: 13px;
	background: var(--mainColor2);
	color: var(--mainColor2_string);
	text-align: center;
	vertical-align: middle;
	border-bottom: solid 1px var(--mainColor2);
}
.tableClass_009 td{
	padding: 0px 3px 0px 18px;
	border-bottom: solid 1px var(--mainColor2);
	vertical-align: middle;
}
.tableClass_009 th::after {
    content: '';
    position: absolute;
	top: 0;
    right: -10px;
	width: 0;
	height: 0;
	border-top: 13px solid transparent;
	border-left: 13px solid var(--mainColor2);
	border-bottom: 13px solid transparent;
}

/* スタイリスト詳細に使用 */
.tableClass_010 {
	width: 100%;
}
.tableClass_010 th{
	padding: 5px;
	background: var(--mainColor2);
	color: var(--mainColor2_string);
}
.tableClass_010 td{
	padding: 5px;
	border-bottom: solid 1px var(--mainColor2);
}










